/********************************************
COLORS
********************************************/

$main-background-color: #FFF;


/***********************
FONTS
***********************/

$font-stack: Helvetica;
$default-content-font-size: 12pt;


/*******************************************
SIZES
*******************************************/

$top-banner-height: 40px;
$centered-container-width: 90%;



$col-spacing-large: 3%;
$col-spacing-medium: 2%;
$col-spacing-small: 1%;

$row-spacing: 40px;

$medium-row-multipler: 0.8;
$small-row-multipler: 0.6;


$padding-large: 15px;
$padding-medium: 12px;
$padding-small: 10px;

/****************************************
BREAKPOINTS
****************************************/

$break-small: 600px;
$break-medium: 860px;
$break-large: 1068px;
