/********************************************
COLORS
********************************************/

$main-background-color: #FFF;


/***********************
FONTS
***********************/

$font-stack: Helvetica;
$default-content-font-size: 12pt;


/*******************************************
SIZES
*******************************************/

$top-banner-height: 40px;
$centered-container-width: 90%;

/*** PADDINGS ****/

$spacing-large: 30px;
$spacing-medium: 12px;
$spacing-small: 10px;


$padding-large: 15px;
$padding-medium: 12px;
$padding-small: 10px;
