@import 'normalize';
@import 'variables';


/********************************
GENERAL
********************************/

* {
  box-sizing: border-box;
}


.flex {
  display: flex;
}




/********************************
Top Navigation Bar
********************************/

.top-banner {
  position: absolute;
  height: $top-banner-height;
  line-height: $top-banner-height;
  text-align: center;
  width: 100%;
  top: 0;

  h1 {
    font-size: 1.5em;
    margin: 0;
  }
}

.top-banner-spacer {
  height: $top-banner-height;
}


@media (min-width: 600px) {



}

/******************************
GRIDS
******************************/

.container.centered {
  width: $centered-container-width;
  margin: auto;
}

.container {

  .col {

    .padding-large {
      padding: $padding-large;
    }

    .padding-medium {
      padding: $padding-medium;
    }

    .padding-small {
      padding: $padding-small;
    }
  }

  .spacing-large > .col {
    padding: 0 $spacing-large 0 $spacing-large;
  }

  .row.spacing-medium > .col {
    padding: 0 $spacing-medium 0 $spacing-medium;
  }

  .row.spacing-small > .col {
    padding: 0 $spacing-small 0 $spacing-small;
  }

  .spacing-large .col:first-child {
    padding: 0 ($spacing-large) 0 0;

    .col-content {
      margin-right: $spacing-large;
    }
  }

  .spacing-large .col:last-child {
    padding: 0 0 0 ($spacing-large);

    .col-content {
      margin-left: $spacing-large;
    }
  }

  .spacing-medium .col:first-child {
    padding: 0 ($spacing-medium) 0 0;

    .col-content {
      margin-right: $spacing-medium;
    }
  }

  .spacing-small .col:first-child {
    padding: 0 ($spacing-small) 0 0;

    .col-content {
      margin-right: $spacing-small;
    }
  }


  .row {
    font-size: 0;

    & > .col {
      font-size: $default-content-font-size;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      background-clip: content-box;

      .col-content {
        display: inline-block;
        width: 100%;
      }
    }


    @for $i from 1 to 12 {
      & .col-#{$i} {
        @extend .col;
        width: $i * 100% / 12;
      }
    }

  }

}

@media (max-width: $break-medium) and (min-width: $break-small) {


.container {




    .row.spacing-large {

      /** middle sized medium spacing **/
      $middle-lg: $spacing-large * 0.8;
      /*********/


      .col:nth-child(odd) {
        padding: 0 ($middle-lg) 0 0;

        .col-content {
          margin: 0;
        }
      }

      .col:nth-child(even) {
        padding: 0 0 0 ($middle-lg);

        .col-content {
          margin: 0;
        }
      }
    }

    .row.spacing-medium {

      /** middle sized medium spacing **/
      $middle-med: $spacing-medium * 0.8;
      /*********/

      .col:nth-child(even) {
        padding: 0 0 0 ($middle-med);

        .col-content {
          margin-right: 0;
        }
      }

      .col:nth-child(odd) {
        padding: 0 ($middle-med) 0 0;

        .col-content {
          margin: 0;
        }
      }
    }

    .row.spacing-medium {

      /** middle sized medium spacing **/
      $middle-sm: $spacing-small * 0.8;
      /*********/

      .col:nth-child(even) {
        padding: 0 0 0 ($middle-sm);

        .col-content {
          margin-right: 0;
        }
      }

      .col:nth-child(odd) {
        padding: 0 ($middle-sm) 0 0;

        .col-content {
          margin: 0;
        }
      }
    }

    .row {

      & > .col:nth-child(odd):last-child {
        width: 100%;
        padding: 0;
      }

      & > .col {
        width: 50%;

        .col-content {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: $break-small) {

  body {
    .container {
      .row.spacing-large, .row.spacing-medium, .row.spacing-small {
        & > .col {
          display: block;
          width: 100%;
          padding: 0;

          .col-content {
            margin: 0;
          }
        }
      }
    }
  }
}



/*******************************
FULL PAGE CONTENT AREAS
*******************************/

.full-page {
  height: 100vh;
}
